# Global settings
installCRDs: true

serviceAccount:
  create: true
  name: "cert-manager"

# Default resource limits
resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 128Mi

# Webhook configuration
webhook:
  serviceAccount:
    create: true

cainjector:
  serviceAccount:
    create: true
