# Define IP Address Pool for Preproduction
prometheus:
  podMonitor:
    enabled: false 
  serviceMonitor:
    enabled: false
    # serviceAccount: prometheus
    # namespace: monitoring
  prometheusRule:
    enabled: false

controller:
  logLevel: debug
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 200m
      memory: 200Mi

speaker:
  logLevel: debug
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 200m
      memory: 200Mi
