---
apiVersion: v1
kind: Namespace
metadata:
  name: kite
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kite
  namespace: kite
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kite
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: kite
  namespace: kite
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kite
  namespace: kite
  labels:
    app: kite
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kite
  template:
    metadata:
      labels:
        app: kite
    spec:
      serviceAccountName: kite
      containers:
      - name: kite
        image: ghcr.io/zxh326/kite:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 1000m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: kite
  namespace: kite
  labels:
    app: kite
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: kite
